.git
.github

__pycache__/
*.py[cod]
*.pyo

venv/
myenv/
.env
.venv/

data/
*.zip
*.rar

models/
models/*.pth
models/*.pt
models/*.pth.tar

.ipynb_checkpoints/

.streamlit/

.vscode/
.idea/

.DS_Store
Thumbs.db